<!DOCTYPE html>
<html>
    <head>
        <title>

            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="ordering">Place an Order</a></li>
            <li><a href="">Cart</a></li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
              </form>
        {% endif %}            

        {% block content %}
        {% endblock %}
        <footer>
            Copyright OA
        </footer>
    </body>
</html>