<!DOCTYPE html>
<html>
    <head>
        <title>

            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="orders">Previous Orders</a></li>
            <li><a href="ordering">Place an Order</a></li>
            <li><a href="">Cart</a></li>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Log In</button>
              </form>
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            Copyright OA
        </footer>
    </body>
</html>